.footer {
  background: #4d4a4b;
  color: #d9d2cc;
  padding: 10px 20px 28px;
}

.footer__container {
  max-width: 1200px;
  margin: 50px auto 0 auto;
}

.footer__grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1.2fr;
  gap: 80px;
}

.footer__logo img{
 width:800px;
 height:auto;
 display:block;
}

.footer__description {
  margin-top: 15px;
  line-height: 1.8;
  font-size: 14px;
  text-align: justify;
}

.footer__socials {
  display: flex;
  gap: 12px;
  margin-top: 18px;
}

.footer__socials a {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff;
}

.footer h4 {
  color: #d7a93f;
  font-size: 18px;
  margin-bottom: 18px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li {
  margin-bottom: 14px;
  font-size: 14px;
}

.footer__contact-list li {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.footer__bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 14px;
}

.footer__bottom div {
  display: flex;
  gap: 24px;
}

.footer__socials{
 display:flex;
 gap:12px;
 margin-top:18px;
}

.footer__socials a{
 width:38px;
 height:38px;
 border-radius:50%;
 display:flex;
 align-items:center;
 justify-content:center;
 background:rgba(255,255,255,.08);
 color:#fff;
 transition:.3s;
}

.footer__socials a:hover{
 background:#d7a93f;
 transform:translateY(-2px);
}

.footer__bottom{
  margin-top:60px;
  padding-top:30px;
  border-top:1px solid rgba(255,255,255,.08);

  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  gap:20px;
}

.footer__bottom p{
  margin:0;
  color:#b7b4b2;
  font-size:15px;
}

.footer__bottom-links{
  display:flex;
  gap:32px;
}

.footer__bottom-links a{
  color:#b7b4b2;
  text-decoration:none;
  font-size:15px;
  transition:.3s;
}

.footer__bottom-links a:hover{
  color:#d7a93f;
}